<a href="https://colab.research.google.com/github/Vineet2107/tensorflow2/blob/main/Untitled23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

In [49]:
df = pd.read_csv('/content/drive/MyDrive/air_quality.csv')

In [50]:
df.head()

   year  month  day  hour  ...  pressure  rain  wind_direction  wind_speed
0  2013      3    1     0  ...    1023.0   0.0             NNW         4.4
1  2013      3    1     1  ...    1023.2   0.0               N         4.7
2  2013      3    1     2  ...    1023.5   0.0             NNW         5.6
3  2013      3    1     3  ...    1024.5   0.0              NW         3.1
4  2013      3    1     4  ...    1025.2   0.0               N         2.0

[5 rows x 10 columns]

In [51]:
df['PM2.5']

0        4.0
1        8.0
2        7.0
3        6.0
4        3.0
        ...
35059   -1.0
35060   -1.0
35061   -1.0
35062   -1.0
35063   -1.0
Name: PM2.5, Length: 35064, dtype: float64

In [52]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['wind_direction'])
print(one_hot_encoded_data.head())

   year  month  day  ...  wind_direction_W  wind_direction_WNW  wind_direction_WSW
0  2013      3    1  ...                 0                   0                   0
1  2013      3    1  ...                 0                   0                   0
2  2013      3    1  ...                 0                   0                   0
3  2013      3    1  ...                 0                   0                   0
4  2013      3    1  ...                 0                   0                   0

[5 rows x 25 columns]

In [53]:
one_hot_encoded_data.head()

   year  month  day  ...  wind_direction_W  wind_direction_WNW  wind_direction_WSW
0  2013      3    1  ...                 0                   0                   0
1  2013      3    1  ...                 0                   0                   0
2  2013      3    1  ...                 0                   0                   0
3  2013      3    1  ...                 0                   0                   0
4  2013      3    1  ...                 0                   0                   0

[5 rows x 25 columns]

In [54]:
one_hot_encoded_data.drop(['year','month', 'day', 'hour'], axis=1, inplace=True)

In [55]:
one_hot_encoded_data.head()

   PM2.5  temperature  ...  wind_direction_WNW  wind_direction_WSW
0    4.0         -0.7  ...                   0                   0
1    8.0         -1.1  ...                   0                   0
2    7.0         -1.1  ...                   0                   0
3    6.0         -1.4  ...                   0                   0
4    3.0         -2.0  ...                   0                   0

[5 rows x 21 columns]

In [58]:
df_pred=one_hot_encoded_data.loc[df['PM2.5'] == -1]

In [59]:
df_pred.head()

       PM2.5  temperature  ...  wind_direction_WNW  wind_direction_WSW
30021   -1.0         30.6  ...                   0                   0
30083   -1.0         31.1  ...                   0                   0
30084   -1.0         31.5  ...                   0                   0
30100   -1.0         26.8  ...                   0                   0
30106   -1.0         30.8  ...                   0                   0

[5 rows x 21 columns]

In [71]:
x_pred=df_pred.drop(['PM2.5'],axis=1)

In [60]:
df_use=one_hot_encoded_data[one_hot_encoded_data['PM2.5'] != -1]

In [61]:
df_use.head()

   PM2.5  temperature  ...  wind_direction_WNW  wind_direction_WSW
0    4.0         -0.7  ...                   0                   0
1    8.0         -1.1  ...                   0                   0
2    7.0         -1.1  ...                   0                   0
3    6.0         -1.4  ...                   0                   0
4    3.0         -2.0  ...                   0                   0

[5 rows x 21 columns]

In [63]:
training_data = df_use.sample(frac=0.8, random_state=25)
testing_data = df_use.drop(training_data.index)

In [64]:
training_data.head()

       PM2.5  temperature  ...  wind_direction_WNW  wind_direction_WSW
6754   115.0          4.4  ...                   0                   0
34802   71.0          2.0  ...                   0                   0
4272    46.0         22.8  ...                   0                   0
2492   104.0         22.5  ...                   0                   0
128    194.0          6.6  ...                   0                   0

[5 rows x 21 columns]

In [65]:
y_train=training_data['PM2.5']
y_train.head()

6754     115.0
34802     71.0
4272      46.0
2492     104.0
128      194.0
Name: PM2.5, dtype: float64

In [67]:
x_train=training_data.drop(['PM2.5'], axis=1)

In [68]:
x_train.head()

       temperature  pressure  ...  wind_direction_WNW  wind_direction_WSW
6754           4.4    1015.4  ...                   0                   0
34802          2.0    1021.7  ...                   0                   0
4272          22.8     998.8  ...                   0                   0
2492          22.5    1002.1  ...                   0                   0
128            6.6    1009.3  ...                   0                   0

[5 rows x 20 columns]

In [69]:
y_test=testing_data['PM2.5']
y_test.head()

7      3.0
14     6.0
32     3.0
35    18.0
62    72.0
Name: PM2.5, dtype: float64

In [70]:
x_test=testing_data.drop(['PM2.5'], axis=1)
x_test.head()

    temperature  pressure  ...  wind_direction_WNW  wind_direction_WSW
7          -1.6    1027.4  ...                   0                   0
14          6.0    1025.9  ...                   0                   0
32         -0.4    1029.6  ...                   0                   0
35          2.2    1028.2  ...                   0                   0
62         16.7    1010.8  ...                   1                   0

[5 rows x 20 columns]

In [72]:
model = keras.Sequential(
    [
     Dense(32, input_dim=20, activation='relu'),
     Dense(64, activation='relu'),
     Dense(128, activation='relu'),
     Dense(1, activation='relu')

    ]
)

In [73]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 32)                672
_________________________________________________________________
dense_8 (Dense)              (None, 64)                2112
_________________________________________________________________
dense_9 (Dense)              (None, 128)               8320
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 129
=================================================================
Total params: 11,233
Trainable params: 11,233
Non-trainable params: 0
_________________________________________________________________

In [88]:
model.compile(optimizer=tf.keras.optimizers.SGD(learning_rate=0.001),
              loss=keras.losses.mae,
              )

In [89]:
history = model.fit(
    x_train,
    y_train,
    batch_size=512,
    validation_data=(x_test, y_test),
    epochs=10,
)

Epoch 1/10
51/51 [==============================] - 1s 7ms/step - loss: nan - val_loss: nan
Epoch 2/10
51/51 [==============================] - 0s 4ms/step - loss: nan - val_loss: nan
Epoch 3/10
51/51 [==============================] - 0s 5ms/step - loss: nan - val_loss: nan
Epoch 4/10
51/51 [==============================] - 0s 4ms/step - loss: nan - val_loss: nan
Epoch 5/10
51/51 [==============================] - 0s 5ms/step - loss: nan - val_loss: nan
Epoch 6/10
51/51 [==============================] - 0s 4ms/step - loss: nan - val_loss: nan
Epoch 7/10
51/51 [==============================] - 0s 5ms/step - loss: nan - val_loss: nan
Epoch 8/10
51/51 [==============================] - 0s 4ms/step - loss: nan - val_loss: nan
Epoch 9/10
51/51 [==============================] - 0s 4ms/step - loss: nan - val_loss: nan
Epoch 10/10
51/51 [==============================] - 0s 4ms/step - loss: nan - val_loss: nan